{% extends 'home/base.html' %}

{% block title %}Редагувати клієнта{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="create-title">
        <h2><i class="fa-solid fa-file-pen"></i> Редагувати клієнта <span class="create-title-span"><u>
            <em>{{ object.client_name }}</em></u></span></h2>
    </div>
    <div class="create-form">
        <form action="{% url 'client_edit' object.pk %}" method="post" class="row g-3">
            {% csrf_token %}
            {% include 'home/fields_for_form.html' %}
            <div class="a-create">
                <div class="a-btn">
                    <a class="btn-edit-href" onclick="document.querySelector('form').submit(); return false;"
                       role="button">Змінити</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}