{% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a style="padding: 10px 0 10px 15px" href="?page={{ page_obj.previous_page_number }}"><i style="margin-right: 5px" class="fa-solid fa-arrow-left-long"></i></a>
            {% endif %}

            <span class="current">
                <b>Сторінка <b style="color: green">{{ page_obj.number }}</b> із {{ page_obj.paginator.num_pages }}</b>
            </span>

            {% if page_obj.has_next %}
                <a style="padding: 10px 15px 10px 0" href="?page={{ page_obj.next_page_number }}&orderby={{ sorting }}"><i style="margin-left: 5px" class="fa-solid fa-arrow-right-long"></i></a>
            {% endif %}
        </span>
    </div>
{% endblock %}