{% extends 'home/base.html' %}
{% load table_tags %}

{% block title %} Providers {% endblock title %}
{% block content %}
    <div class="title-container">
        <div class="second-title">
            <h2>Контрагенти</h2>
        </div>
        <nav class="title-nav">
            <ul class="btn-menu">
                <li>
                    <a class="btn" style="border-top: 4px solid green;" href="#" role="button">Додати</a>
{#                    <a class="btn" style="border-top: 4px solid blue;" href="#" role="button">Редагувати</a>#}
                    <a class="btn" style="border-top: 4px solid red;" href="#" role="button">Видалити</a>
                </li>
            </ul>
        </nav>
    </div>

    {% show_table providersList headers fields %}

{% endblock content %}