{% extends 'home/base.html' %}

{% block title %}Редагувати контрагента{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="create-title">
        <h2>Редагувати контрагента <span style="color: green"><u><em>{{ object.provider_name }}</em></u></span> <i class="fa-solid fa-person-circle-plus"></i></h2>
    </div>
    <div class="create-form">
        <form action="{% url 'provider_edit' object.pk %}" method="post" class="row g-3">
            {% csrf_token %}
            {% include 'home/fields_for_form.html' %}
            <div class="a-create">
                <a style="border-top: 4px solid green" class="btn" onclick="document.querySelector('form').submit(); return false;" role="button">Змінити</a>
            </div>
        </form>
    </div>

{% endblock %}