{% extends 'persons/index.html' %}

{% block title %} Providers {% endblock title %}

{% block table-headers %}
      <th scope="col">№</th>
      <th scope="col">Назва</th>
      <th scope="col">Місто</th>
      <th scope="col">Адреса</th>
      <th scope="col">Телефон</th>
      <th scope="col">Статус</th>
 {% endblock table-headers %}
 {% block table-body %}
     {% for provider in providersList %}
          <th scope="row">{{ provider.id }}</th>
          <td>{{ provider.provider_name }}</td>
          <td>{{ provider.city }}</td>
          <td>{{ provider.address }}</td>
          <td>{{ provider.phone }}</td>
          <td>{{ provider.status }}</td>
          <td>Button</td>
     {% endfor %}
 {% endblock table-body %}
