<nav class="navbar navbar-expand-lg bg-body-tertiary" id="main-nav">
    <div class="container-fluid">
        <button class="openbtn" onclick="openNav()"><i class="fa-solid fa-bars"></i></button>
        <a class="navbar-brand" href="{% url 'index' %}">MASTER</a>
        <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 20px">
            <ul class="nav" style="font-weight: 500">
                <div class="dropdown hoverable">
                    <a class="nav-link" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-expanded="false" disabled> Гроші </a>
                    <ul class="dropdown-menu">
                        <li>{% include 'home/set_htmx_parametrs.html' with url='cashes' title='Каси' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='valutas' title='Валюти' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='rates' title='Курси валют' %}</li>
                    </ul>
                </div>
                <div class="dropdown hoverable">
                    <a class="nav-link" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-expanded="false" disabled> Персонал </a>
                    <ul class="dropdown-menu">
                        <li>{% include 'home/set_htmx_parametrs.html' with url='providers' title='Контрагенти' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='manufacturers' title='Виробники' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='employees' title='Працівники' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='clients' title='Клієнти' %}</li>
                    </ul>
                </div>
                <div class="dropdown hoverable">
                    <a class="nav-link" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-expanded="false" disabled> Довідники </a>
                    <ul class="dropdown-menu">
                        <li>{% include 'home/set_htmx_parametrs.html' with url='product_ref_books' title='Товари' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='balance_product' title='Залишки' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='product_prices' title='Ціни товарів' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='unit_of_measure' title='Од. виміру' %}</li>
                        <li>{% include 'home/set_htmx_parametrs.html' with url='price_names' title='Типи цін' %}</li>
                    </ul>
                </div>
                <div class="dropdown hoverable">
                    <li>{% include 'home/set_htmx_parametrs.html' with url='stocks' title='Склади' %}</li>
                </div>
                <div class="dropdown hoverable">
                    <li>{% include 'home/set_htmx_parametrs.html' with url='documents' title='Документи' %}</li>
                </div>
            </ul>
        </div>
    </div>
</nav>