{% extends 'home/base.html' %}

{% block title %} Головна {% endblock title %}
{% block content %}
    <div class="site-main-menu">
        <div class="site-main-menu_header">
            <h1 class="logo-title">MASTER</h1>
            <div class="main-menu-p">
                <p>Успіх твого бізнесу!</p>
            </div>
        </div>
        <div class="main-menu-container">
           <section class="menu">
              <ol class="toc">
                 <li class="style-li"><a href=""><b>Персонал</b></a></li>
                 <li class="second-menu">
                     <ul>
                         <li><a href="{% url 'providers' %}">контрагенти</a></li>
                         <li><a href="{% url 'manufacturers' %}">виробники</a></li>
                         <li><a href="{% url 'employees' %}">працівники</a></li>
                         <li><a href="{% url 'clients' %}">клієнти</a></li>
                     </ul>
                  </li>
                 <li class="style-li"><a href=""><b>Товари</b></a></li>
                  <li class="second-menu">
                     <ul>
                         <li><a href="{% url 'product_ref_books' %}">довідник товарів</a></li>
                         <li><a href="{% url 'product_prices' %}">товари та їх типи цін</a></li>
                         <li><a href="{% url 'unit_of_measure' %}">одиниці вимірювання товару</a></li>
                         <li><a href="{% url 'price_names' %}">типи цін товару</a></li>
                     </ul>
                  </li>
                 <li class="style-li"><a href="{% url 'documents' %}"><b>Документи</b></a></li>
                 <li class="style-li"><a href="{% url 'stocks' %}"><b>Склади</b></a></li>
              </ol>
           </section>
</div>
    </div>
{% endblock %}



