{% extends 'home/base.html' %}

{% block title %} Головна {% endblock title %}
{% block content %}
    <div class="site-main-menu">
        <div class="site-main-menu_header">
            <h1 class="logo-title">MASTER</h1>
            <div class="main-menu-p">
                <p>Успіх твого бізнесу!</p>
            </div>
        </div>
        <div class="main-menu-container">
           <section class="menu">
{#              <h1>Зміст</h1>#}
              <ol class="toc">
                 <li class="style-li"><a href=""><b>Персонал</b></a></li>
                 <li class="second-menu">
                     <ul>
                         <li><a href="">контрагенти</a></li>
                         <li><a href="">виробники</a></li>
                         <li><a href="">працівники</a></li>
                         <li><a href="">клієнти</a></li>
                     </ul>
                  </li>
                 <li class="style-li"><a href=""><b>Товари</b></a></li>
                 <li class="style-li"><a href=""><b>Документи</b></a></li>
                 <li class="style-li"><a href=""><b>Склади</b></a></li>
              </ol>
           </section>
</div>
    </div>
{% endblock %}



