{% load user_tags %}
{% load static %}

<form method="post" action="{% url 'delete_person' %}">
{% csrf_token %}

    <input type="hidden" name="model_name" value="{{ model_name }}">
    <div class="title-container">
        <nav class="title-nav">
            <ul class="btn-menu">
                <li>
                    {% if model_name == 'Provider' %}
                        <a class="btn" role="button" style="border-top: 4px solid green;"
                           href="{% url 'provider_create' %}">Додати</a>
                    {% elif model_name == 'Manufacturer' %}
                        <a class="btn" role="button" style="border-top: 4px solid green;"
                           href="{% url 'manufacturer_create' %}">Додати</a>
                    {% elif model_name == 'Employee' %}
                        <a class="btn" role="button" style="border-top: 4px solid green;"
                           href="{% url 'employee_create' %}">Додати</a>
                    {% elif model_name == 'Client' %}
                        <a class="btn" role="button" style="border-top: 4px solid green;"
                           href="{% url 'client_create' %}">Додати</a>
                    {% endif %}

                    {% include 'home/modal_for_delete.html' %}
                    <button class="btn" style="border-top: 4px solid red;" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Видалити
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <table class='table' id="main-table">
        <thead>
        <tr style="font-size: 20px">
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class='table-group-divider'>
        {% for object in object_list %}
          <tr style="font-size: 19px;" data-href="{% url url_for_edit object.pk%}">
                {% for field in fields %}
                    {% if field == 'status' %}
                        {% if object|get_attr:field == 'individual' %}
                            <td>Фізична особа</td>
                        {% else %}
                            <td>Юридична особа</td>
                        {% endif %}
                    {% else %}
                        {% if object|get_attr:field == None %}
                            <td>Не зазначено</td>
                        {% else %}
                            <td>{{ object|get_attr:field }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td id="not-click">
                    <div class='form-check'>
                        <input class='form-check-input' type='checkbox' name="object_ids" value='{{ object.id }}' id='flexCheckDefault'>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

<script src="{% static 'home/js/clickable_main_table_field.js' %}"></script>