{% load user_tags %}
{% load static %}

<form method="post" action="{% url url_for_delete %}">
{% csrf_token %}

    <input type="hidden" name="model_name" value="{{ model_name }}">
    <div class="title-container">
        <nav class="title-nav">
            <ul class="btn-menu">
                <li>
                    <a class="btn" role="button" style="border-top: 4px solid green;"
                       hx-get="{% url url_for_create %}"
                       hx-target=".container"
                       hx-push-url="true">Додати</a>

                    {% include 'home/modal_for_delete.html' %}
                    <button class="btn" style="border-top: 4px solid red;" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Видалити
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <table class='table' id="main-table">
        <thead>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
{#        data-href="{% url url_for_edit object.pk%}"#}
        </tr>
        </thead>
        <tbody class='table-group-divider'>
        {% for object in object_list %}
          <tr style="font-size: 19px;" hx-get="{% url url_for_edit object.pk %}" hx-target=".container" hx-push-url="true">
                {% for field in fields %}
                    {% if field == 'status' %}
                        {% if object|get_attr:field == 'individual' %}
                            <td>Фізична особа</td>
                        {% else %}
                            <td>Юридична особа</td>
                        {% endif %}
                    {% elif field == 'document_type' %}
                        {% if object|get_attr:field == 'receipt' %}
                            <td>Прихід</td>
                        {% else %}
                            <td>Витрата</td>
                        {% endif %}
                    {% elif field == 'hold' %}
                        {% if object|get_attr:field %}
                            <td><a class="hold-paid-icon-link" href="{% url 'document_hold_edit' object.pk %}"><i class="fa-solid fa-check true-icon"></i></a></td>
                        {% else %}
                            <td><a class="hold-paid-icon-link" href="{% url 'document_hold_edit' object.pk %}"><i class="fa-solid fa-times false-icon"></i></a></td>
                        {% endif %}
                    {% elif field == 'paid' %}
                        {% if object|get_attr:field %}
                            <td><a class="hold-paid-icon-link" href=""><i class="fa-solid fa-check true-icon"></i></a></td>
                        {% else %}
                            <td><a class="hold-paid-icon-link" href=""><i class="fa-solid fa-times false-icon"></i></a></td>
                        {% endif %}

                    {% else %}
                        {% if object|get_attr:field == None %}
                            <td>Не зазначено</td>
                        {% else %}
                            {% if object|has_get_absolute_url:field %}
{#                                <td><a hx-get="{{ object|has_get_absolute_url:field }}" hx-target=".container" hx-push-url="true">{{ object|get_attr:field }}</a></td>#}
                                <td><a class="table-link" href="{{ object|has_get_absolute_url:field }}">{{ object|get_attr:field }}</a></td>
                            {% else %}
                                <td>{{ object|get_attr:field }}</td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td id="not-click">
                    <div class='form-check'>
                        <input class='form-check-input' type='checkbox' name="object_ids" value='{{ object.id }}' id='flexCheckDefault'>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

<script src="{% static 'home/js/clickable_main_table_field.js' %}"></script>