<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Видалення</h1>
            </div>
            <div class="modal-body">
                Ви дійсно бажаєте видалити обрані обʼєкти?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel-form" style="border-top: 4px solid red; position: absolute;
left: 7px;" data-bs-dismiss="modal">Відміна
                </button>
                <button class="btn" style="border-top: 4px solid green;" type="submit">Видалити
                </button>
            </div>
        </div>
    </div>
</div>