{% load static %}
<div id="mySidebar" class="sidebar">
    <h3 class="sidebar-navbar-brand">MASTER</h3>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <i class="fa-solid fa-xmark"></i></a>
    <hr style="margin-top: 35px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
                <button class="sidebar-main-btn" data-bs-toggle="collapse" data-bs-target="#add-collapse"
                        aria-expanded="true">
                    Додати
                </button>
            <div class="collapse" id="add-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a hx-get="{% url 'provider_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Контрагента</a></li>
                    <li><a hx-get="{% url 'manufacturer_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Виробника</a></li>
                    <li><a hx-get="{% url 'employee_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Працівника</a></li>
                    <li><a hx-get="{% url 'client_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Клієнта</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
                <button class="sidebar-main-btn" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Створити
                </button>
            <div class="collapse" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a hx-get="{% url 'unit_of_measure_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Одиницю вимірювання</a></li>
                    <li><a hx-get="{% url 'product_ref_book_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Товар</a></li>
                    <li><a hx-get="{% url 'document_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Документ</a></li>
                    <li><a hx-get="{% url 'cash_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Касу</a></li>
                    <li><a hx-get="{% url 'valuta_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Валюту</a></li>
                    <li><a hx-get="{% url 'rate_create' %}" hx-target=".container"
                       hx-push-url="true" class="link-dark rounded">Курс валюти</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
                <button class="sidebar-main-btn" data-bs-toggle="collapse" data-bs-target="#setting-collapse"
                        aria-expanded="false">Налаштування
                </button>
            <div class="collapse" id="setting-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="#" class="link-dark rounded"><i style="margin-right: 10px" class="fa-solid fa-gear"></i>Загальні</a>
                    </li>
                    <li>
                        <a class="nav-link theme-toggle-dark" onclick="location.reload();"><i style="margin-right: 10px" class="fa-solid fa-moon fa-lg"></i>Темна тема</a>
                    </li>
                    <li>
                        <a class="nav-link theme-toggle-light" onclick="location.reload();"><i style="margin-right: 10px;" class="fa-regular fa-sun"></i>Светлая тема</a>
                    </li>
                    <li>
                        <a class="nav-link" id="dropdownMenuLink" href="/admin/" target="_blank"><i style="margin-right: 10px" class="fa-solid fa-screwdriver-wrench"></i>Управління</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<script src="{% static 'home/js/check_body_class_for_theme_rele.js' %}"></script>