{% load table_tags %}
<table class='table'>
    <thead>
    <tr style="font-size: 20px">
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody class='table-group-divider'>
    {% for object in object_list %}
        <tr style="font-size: 19px;">
            {% for field in fields %}
                {% if field == 'status' %}
                    {% if object|get_attr:field == 'individual' %}
                        <td>Фізична особа</td>
                    {% else %}
                        <td>Юридична особа</td>
                    {% endif %}
                {% else %}
                    <td>{{ object|get_attr:field }}</td>
                {% endif %}
            {% endfor %}
            <td>
                <div class='form-check'><input class='form-check-input' type='checkbox' value='' id='flexCheckDefault'>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>