.dark-theme{
    background-color: rgb(63,63,63);
    color: #fff;
}

.dark-theme table{
    color: #fff;
}

.dark-theme .btn-menu li a{
    background-color: rgb(63,63,63);
    color: white;
    border: 1px solid white;
}

.dark-theme .btn-menu li button{
    background-color: rgb(63,63,63);
    color: white;
    border: 1px solid white;
}

.dark-theme .create-title-span {
    color: lightgreen;
}
.dark-theme .btn-edit-href {
    color: white;
}
.dark-theme .btn-edit-href:hover {
    color: lightcoral;
}
.dark-theme .a-btn {
    border-top: 4px solid lightgreen;
    border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
    color: white;
}
.dark-theme .table tbody tr:hover {
    background: rgb(77, 77, 77);
}

.dark-theme .bg-body-tertiary{
    background-color: #000000;
}
.dark-theme .modal-content{
    background-color: grey;
    color: white;
}
.dark-theme .modal-content button{
    background-color: white;
    color: black;
}

.dark-theme .second-title{
    background-color: black;
}
.dark-theme .title_h2{
    color: white;
}
.dark-theme .btn-edit{
    border: 1px solid white;
}
.dark-theme .category-list{
    background-color: rgb(63,63,63);
}
.dark-theme .category-list a{
    color: white;
}
.dark-theme .document-detail-info li{
	color: grey;
}
.dark-theme .category-list li span{
    color: white;
}
.dark-theme .product-count{
    color: lightgrey;
}
.dark-theme .summ-valuta{
    color: lightgrey;
}
.dark-theme .document-detail-header a{
	border-top: 4px solid white;
}
.dark-theme .document-detail-title-add-product{
	margin-left: 15px;
	border: 1px solid dimgray;
	border-radius: 50px;
	padding: 5px 10px;
	color: white;
}
.dark-theme .btn{
    border-top: 3px solid white;
}
.dark-theme .second-title{
    background-color: rgb(63,63,63);
}
.dark-theme .page-link{
    background-color: rgb(63,63,63);
    color: white;
}
.dark-theme .page-link:hover{
    background-color: white;
    color: black;
}
.dark-theme .dropdown a:after{
    background-color: white;
}
.dark-theme .nav .nav-link{
	color: lightgrey;
}
.dark-theme .nav .nav-link:hover{
	color: white;
}

.dark-theme INPUT{
    background-color: rgb(63,63,63);
    color: #ffffff;
}

.dark-theme SELECT{
    background-color: rgb(63,63,63);
    color: #ffffff;
}

.dark-theme SELECT:disabled {
  background-color: rgb(42, 42, 42);
  color: #999999;
}

.dark-theme INPUT:focus {
  background-color: rgb(42, 42, 42);
  color: #999999;
}

.dark-theme .form-check-input:checked {
  background-color: #ff0000;
  border-color: #ff0000;
}

.dark-theme .summ-valuta {
    color: #65c056;
}

.dark-theme .product-count{
    color: #ff7575;
}