{#{% extends 'home/base.html' %}#}
{#{% block content %}#}
    <div class="document-detail-header">
        <h2 class="document-detail-title"><i class="fa-solid fa-file"></i> <em>{{ document }}</em>
        </h2>
    </div>
    <div class="content-main">
        <div class="content-table">
            <table class="table">
              <thead>
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Тип документу</th>
                    <th scope="col">Тип ціни</th>
                    <th scope="col">Валюта</th>
                    <th scope="col">Дата створення</th>
                    <th scope="col">Дата редагування</th>
                    <th scope="col">Проведено?</th>
                </tr>
              </thead>
              <tbody>
                    <tr>
                        <td>{{ object.pk }} </td>
                        {% if object.document_type == 'receipt' %}
                            <td>Прихід</td>
                        {% else %}
                            <td>Витрата</td>
                        {% endif %}
                        <td>{{ object.price_name }}</td>
                        <td>{{ object.valuta }}</td>
                        <td>{{ object.create_date }}</td>
                        <td>{{ object.update_date }}</td>
                    </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="document-detail-header">
        <h3 class="document-detail-title">Товари в документі
            <a class="document-detail-title-add-product"
                       hx-get="{% url 'document_product_create' document.pk %}"
                       hx-target=".container"
                       hx-push-url="true"><i class="fa-sharp fa-solid fa-plus"></i>
            </a>
        </h3>
    </div>

    <div class="document-detail-info">
        <ul>
            <li>Кількість: <span class="product-count">{{ object.products_in_document.count }}</span></li>
            <li>Загальна сума: <span class="summ-valuta">{{ view.get_all_sum }} {{ object.valuta.valuta_short }}</span></li>
        </ul>
    </div>

        <div class="product_list">
            {% for document_product in object.products_in_document.all %}
                <ul class="category-list">
                    <li>
                        {{ document_product }}
                            <a style="order: 2; margin-left: auto" type="button" hx-get="{% url 'document_product_edit' document_product.pk %}"
                               hx-target=".container"
                               hx-push-url="true"><span style="color: #65c056">{{ document_product.count }} {{ document_product.product.unit_of_measure }}</span></a>
                    </li>
                </ul>
            {% endfor %}
        </div>
{#{% endblock %}#}